
#outlined-multiline-flexible {
    color: transparent;
    caret-color: var(--primary);
}




#editor-input-mask {
    width: calc(100% - 28px);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: column;
    color: black;
    justify-content: center;
    position: absolute;
    top: 0;
    cursor: pointer;
    padding: 15px 13.5px;
    pointer-events: none;
    background-color: transparent;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    word-wrap: anywhere;
    transition-duration: 0.3s;
    min-height: 25px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
}

#editor-input-mask .highlight {
    color: var(--primary);
}

#editor-input-mask .selected {
    background-color: var(--primary-bg);
}

#editor-input-mask .cursor {
    color: var(--primary);
}

.symbol {
    background-color: var(--light-bg);
    padding: 6px 8px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius:5px
}

.receivers-container {
    background-color: var(--light-bg);
    padding: 8px 15px;
    width: calc(100% - 30px - 40px - 10px);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.receivers-add-button {
    width:40px;
    background-color: var(--light-bg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.receivers-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000aa;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receivers-popup {
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
}

.receivers-search-bar {
    background-color: var(--light-bg);
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
}

.receivers-search-content-container {
    display: flex;
    flex-flow: column;
    overflow: scroll;
    gap: 10px;
    padding: 10px 10px;
}

.receivers-search-item {
    width: calc(100% - 20px);
    box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.receivers-popup-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}

.receiver-item {
    background-color: #C6ECFD;
    color: var(--primary);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

.receiver-item svg {
    color: var(--primary);
    cursor: pointer;
}