
#outlined-multiline-flexible {
    color: transparent;
    caret-color: var(--primary);
}




#editor-input-mask {
    width: calc(100% - 28px);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: column;
    color: black;
    justify-content: center;
    position: absolute;
    top: 0;
    cursor: pointer;
    padding: 15px 13.5px;
    pointer-events: none;
    background-color: transparent;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    word-wrap: anywhere;
    transition-duration: 0.3s;
    min-height: 25px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
}

#editor-input-mask .highlight {
    color: var(--primary);
}

#editor-input-mask .selected {
    background-color: var(--primary-bg);
}

#editor-input-mask .variable {
    background: linear-gradient(
            to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#editor-input-mask .cursor {
    color: var(--primary);
}



.symbol {
    background-color: var(--light-bg);
    padding: 6px 8px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius:5px
}

.receivers-container {
    background-color: var(--light-bg);
    padding: 8px 15px;
    width: calc(100% - 30px - 40px - 10px);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    overflow: scroll;
}

.receivers-add-button {
    width:40px;
    background-color: var(--light-bg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.receivers-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000aa;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receivers-popup {
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
}

.receivers-search-bar {
    background-color: var(--light-bg);
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
}

.receivers-search-content-container {
    display: flex;
    flex-flow: column;
    overflow: scroll;
    gap: 10px;
    padding: 10px 10px;
}

.receivers-search-item {
    width: calc(100% - 20px);
    box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.receivers-popup-title-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}

.receiver-item {
    background-color: #C6ECFD;
    color: var(--primary);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

.receiver-item svg {
    color: var(--primary);
    cursor: pointer;
}

.variable-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.variable-type-container {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}

select {
    background-color: var(--light-bg);
    background-image: none;
    /*appearance: none;*/
    padding: 5px 8px;
    border: none;
    font-size: 1rem;
}

.variable-name {
    max-width: 55vw;
    word-wrap: anywhere;
}

.weather-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.weather-info-container  img {
    width: 40px;
}

#weather-info-label, #weather-temperature-label {
    color: white;
    font-weight: bold;
}
